<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--$titleBegin-->
    <title></title>
    <!--$titleEnd-->
    <!--$styleSheetBegin-->
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <!--$styleSheetEnd-->
</head>

<body>
<!--$bodyBegin-->
<!--$headerBegin-->
<header>

</header>
<!--$headerEnd-->
<!--$navBegin-->
<nav>

</nav>
<!--$navEnd-->

<!--$sectionBegin-->

<!--$sectionEnd-->

<!--$footerBegin-->
<footer>
    <h4></h4>
</footer>
<!--$footerEnd-->
<!--$bodyEnd-->
</body>
</html>