<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--$titleBegin-->
<title>Hello</title>
<!--$titleEnd-->
    <!--$styleSheetBegin-->
<link href="styles.css" rel="stylesheet" type="text/css"/>
<!--$styleSheetEnd-->
</head>

<body>
<!--$bodyBegin-->
<!--$headerBegin-->
<header>
<!--$headerImgBegin-->
<a href="index.html"><img src="images/test.png"/></a>
<!--$headerImgEnd-->
<!--$headerH1Begin-->
<h1>Hello Header</h1>
<!--$headerH1End-->
</header>
<!--$headerEnd-->
<!--$navBegin-->
<nav>
<a href="#"/>Test 0</a>
<a href="#"/>Test 1</a>
<a href="#"/>Test 2</a>
<a href="#"/>Test 3</a>
</nav>
<!--$navEnd-->

<!--$sectionBegin-->
<!--$bodySectionBegin0-->
<section>
<!--$sectionH2Begin0-->
<h2>Header 1</h2>
<!--$sectionH2End0-->
<!--$pBegin0.0-->
<p>text1</p>
<!--$pEnd0.0-->
<!--$ulBegin0.1-->
<ul>
<li>List Object 1</li>
<li>List Object 2</li>
<li>List Object 3</li>
</ul>
<!--$ulEnd0.1-->
<!--$olBegin0.2-->
<ol>
<li>List Object 1</li>
<li>List Object 2</li>
<li>List Object 3</li>
</ol>
<!--$olEnd0.2-->
<!--$imgBegin0.3-->
<img src="images/test.png"/>
<!--$imgEnd0.3-->
</section>
<!--$bodySectionEnd0-->

<!--$dividerBegin-->
<h6 class="divider"></h6>
<!--$dividerEnd-->

<!--$bodySectionBegin1-->
<section>
<!--$pBegin1.0-->
<p>text1</p>
<!--$pEnd1.0-->
<!--$imgBegin1.1-->
<img src="images/test.png"/>
<!--$imgEnd1.1-->
</section>
<!--$bodySectionEnd1-->

<!--$dividerBegin-->
<h6 class="divider"></h6>
<!--$dividerEnd-->

<!--$bodySectionBegin2-->
<section>
<!--$sectionH2Begin2-->
<h2>Header 3</h2>
<!--$sectionH2End2-->
<!--$pBegin2.0-->
<p>text1</p>
<!--$pEnd2.0-->
<!--$ulBegin2.1-->
<ul>
<li>List Object 1</li>
<li>List Object 2</li>
<li>List Object 3</li>
</ul>
<!--$ulEnd2.1-->
<!--$olBegin2.2-->
<ol>
<li>List Object 1</li>
<li>List Object 2</li>
<li>List Object 3</li>
</ol>
<!--$olEnd2.2-->
</section>
<!--$bodySectionEnd2-->
<!--$sectionEnd-->


<!--$footerBegin-->
<!--$footerBegin-->
<footer>
<h4>Test Footer</h4>
</footer>

<!--$footerEnd-->
<!--$bodyEnd-->
</body>
</html>